In [1]:
# Import libraries

from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [2]:
# Connect to website

url = "https://www.amazon.in/Samsung-Galaxy-Smartphone-Titanium-Storage/dp/B0CS5Z3T4M/ref=sr_1_1_sspa?crid=6SG3VHHKMYYK&dib=eyJ2IjoiMSJ9.ayH29MDnPrCdz5dB7L_4w077Rq97ss2X_aTmd0PtAWezIGh9N4w9GfMTwNFh6AMibXBagXV7u_RF8Gli3RHtA-geUrJAkxma09V-e385cUt7ShwuOXNG7jhymuinV2jE2T19gJlrDMFilM_Q45t0IdGaG-EdtKtPIm2DjNNxTLrUgx_sr-UGV4X27_1cQj2uB7WO3OEDNW9-pvSFlccms0v8Y3EM-Ze7nWqpybRBMp4.dHCRfDQiY7689rzhm9A5rli48u-ZFxGq-EwBqpfDTcE&dib_tag=se&keywords=samsung%2Bs24&qid=1715251316&sprefix=samsung%2Bs24%2Caps%2C237&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id="productTitle").get_text()
price = soup2.find('span', {'class': 'a-price-whole'}).get_text()

print(title)
print(price)

              Samsung Galaxy S24 Ultra 5G AI Smartphone (Titanium Black, 12GB, 256GB Storage)


                                  1,29,999

                                   .

In [3]:
price = price.strip()[:8]
title = title.strip()

print(title)
print(price)

Samsung Galaxy S24 Ultra 5G AI Smartphone (Titanium Black, 12GB, 256GB Storage)
1,29,999

In [4]:
import datetime

today = datetime.date.today()
print(today)

2024-05-10

In [5]:
#Create csv and insert header and data

import csv

header = ['Title', 'Price','Date']
data = [title, price, today]

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [6]:
import pandas as pd

df = pd.read_csv(r'C:\Users\jigme\Coursera Projects\AmazonWebScraperDataset.csv')
df

                                               Title     Price        Date
0  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10

In [7]:
#Append the data to the csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [8]:
# Automating the task to check the price of the product very 5 seconds

def check_price():
    
    url = "https://www.amazon.in/Samsung-Galaxy-Smartphone-Titanium-Storage/dp/B0CS5Z3T4M/ref=sr_1_1_sspa?crid=6SG3VHHKMYYK&dib=eyJ2IjoiMSJ9.ayH29MDnPrCdz5dB7L_4w077Rq97ss2X_aTmd0PtAWezIGh9N4w9GfMTwNFh6AMibXBagXV7u_RF8Gli3RHtA-geUrJAkxma09V-e385cUt7ShwuOXNG7jhymuinV2jE2T19gJlrDMFilM_Q45t0IdGaG-EdtKtPIm2DjNNxTLrUgx_sr-UGV4X27_1cQj2uB7WO3OEDNW9-pvSFlccms0v8Y3EM-Ze7nWqpybRBMp4.dHCRfDQiY7689rzhm9A5rli48u-ZFxGq-EwBqpfDTcE&dib_tag=se&keywords=samsung%2Bs24&qid=1715251316&sprefix=samsung%2Bs24%2Caps%2C237&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1"
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id="productTitle").get_text()
    price = soup2.find('span', {'class': 'a-price-whole'}).get_text()
    
    price = price.strip()[:8]
    title = title.strip()
    
    import datetime

    today = datetime.date.today()
    
    import csv

    header = ['Title', 'Price','Date']
    data = [title, price, today]
    
    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
#Checking the price every 5 seconds

while(True):
    check_price()
    time.sleep(5)

In [10]:
import pandas as pd

df = pd.read_csv(r'C:\Users\jigme\Coursera Projects\AmazonWebScraperDataset.csv')
df

                                               Title     Price        Date
0  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
1  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
2  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
3  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
4  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
5  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10
6  Samsung Galaxy S24 Ultra 5G AI Smartphone (Tit...  1,29,999  2024-05-10